---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="80AMjrbSkCe3aXZVjmxcKRLM5", oauth_nonce="cb051cbd792d24340299ccdb776eca9b",
        oauth_signature="bJ1fttybaeVLeSd0dTkzjRXgDOQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450319079", oauth_token="47199626-SalEguuv6JMpqB4FwLJcC8zs6OaC51vXrSvTvwbnx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 02:24:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ed25c86b7509beae7ecd373f1aef549c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450319979'
      X-Response-Time:
      - '21'
      X-Transaction:
      - 1eaf41714b769dac
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":47199626,"id_str":"47199626","name":"AMC","screen_name":"Amber__C","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":20,"listed_count":0,"created_at":"Sun
        Jun 14 23:06:00 +0000 2009","favourites_count":46,"utc_offset":-18000,"time_zone":"Quito","geo_enabled":false,"verified":false,"statuses_count":5,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2617777889\/7y3q1ssh4tno6zlc50ry_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2617777889\/7y3q1ssh4tno6zlc50ry_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 02:24:39 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=47199626
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="80AMjrbSkCe3aXZVjmxcKRLM5", oauth_nonce="61164dd6a2203ea62a30f304e96162ec",
        oauth_signature="2nEcXsbdhrfcftIIYMEs9h6NyL8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450319079", oauth_token="47199626-SalEguuv6JMpqB4FwLJcC8zs6OaC51vXrSvTvwbnx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 02:24:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fcfa15f49765c8c4369200e0e9562522
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450319979'
      X-Response-Time:
      - '129'
      X-Transaction:
      - 46c4e9ccba8dc793
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":40472591,"id_str":"40472591","name":"Jes Norris","screen_name":"JesChuckNorris","location":"Where
        I should be...I think.","description":"Feminist. Nerd. Triplet. Creating worlds
        for others enjoyment.","url":"https:\/\/t.co\/vy6XQ4SA4Z","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/vy6XQ4SA4Z","expanded_url":"http:\/\/www.imdb.com\/name\/nm5338914\/?from_app=ios&ref_=ext_iosp_nm_imdbWS","display_url":"imdb.com\/name\/nm5338914\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":305,"friends_count":330,"listed_count":8,"created_at":"Sat
        May 16 14:33:42 +0000 2009","favourites_count":2642,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":6896,"lang":"en","status":{"created_at":"Tue
        Dec 15 23:35:11 +0000 2015","id":676908392686993408,"id_str":"676908392686993408","text":"More.
        https:\/\/t.co\/E6eaoLmWPc","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/E6eaoLmWPc","expanded_url":"https:\/\/www.instagram.com\/p\/_VMKaAg1ZxVnN4x3Odep8B0wx2tcrmpPjLVX00\/","display_url":"instagram.com\/p\/_VMKaAg1ZxVn\u2026","indices":[6,29]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/542972758\/BowtiesCoffee3.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/542972758\/BowtiesCoffee3.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/675471029381279744\/0xLgtTN5_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/675471029381279744\/0xLgtTN5_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/40472591\/1449879818","profile_link_color":"9266CC","profile_sidebar_border_color":"BDDCAD","profile_sidebar_fill_color":"DDFFCC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":370484538,"id_str":"370484538","name":"Iqbal
        Ashary","screen_name":"IqbaIAshary","location":"JAKARTA PUSAT (INDONESIAN)","description":"modest,
        simple and not sorts of kinds","url":"http:\/\/t.co\/mIy0stdCLA","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/mIy0stdCLA","expanded_url":"http:\/\/www.facebook.com\/iqbal.cikal","display_url":"facebook.com\/iqbal.cikal","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":356,"friends_count"[...]
