---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="80AMjrbSkCe3aXZVjmxcKRLM5", oauth_nonce="cf8f9bb688d52d86efb7c318cd7f36fc",
        oauth_signature="4tBkaGldUx4VTkFonLI4LfCX7fo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450319080", oauth_token="47199626-SalEguuv6JMpqB4FwLJcC8zs6OaC51vXrSvTvwbnx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 02:24:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5b4d75c9ed0900257cf8763e87a4dc37
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1450319980'
      X-Response-Time:
      - '29'
      X-Transaction:
      - 838250a6b847d59e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 00:17:16 +0000 2015","id":677281371501412352,"id_str":"677281371501412352","text":"NewTest","source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eThought Post\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":47199626,"id_str":"47199626","name":"AMC","screen_name":"Amber__C","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":20,"listed_count":0,"created_at":"Sun
        Jun 14 23:06:00 +0000 2009","favourites_count":46,"utc_offset":-18000,"time_zone":"Quito","geo_enabled":false,"verified":false,"statuses_count":5,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2617777889\/7y3q1ssh4tno6zlc50ry_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2617777889\/7y3q1ssh4tno6zlc50ry_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":true,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Dec 16 22:05:59 +0000 2015","id":677248330611716096,"id_str":"677248330611716096","text":"From
        Heroku","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eThought
        Post\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":47199626,"id_str":"47199626","name":"AMC","screen_n[...]
