---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="80AMjrbSkCe3aXZVjmxcKRLM5", oauth_nonce="063415ac763e0ef270a52c39d1975a8f",
        oauth_signature="ysbdNHUg5FiJwmihV%2BZNL6Qmtwg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450319079", oauth_token="47199626-SalEguuv6JMpqB4FwLJcC8zs6OaC51vXrSvTvwbnx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 02:24:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 73db40f7529540ee19dd5bbb7fffd277
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450319979'
      X-Response-Time:
      - '24'
      X-Transaction:
      - c48391f324bfdbff
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":47199626,"id_str":"47199626","name":"AMC","screen_name":"Amber__C","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":20,"listed_count":0,"created_at":"Sun
        Jun 14 23:06:00 +0000 2009","favourites_count":46,"utc_offset":-18000,"time_zone":"Quito","geo_enabled":false,"verified":false,"statuses_count":5,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2617777889\/7y3q1ssh4tno6zlc50ry_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2617777889\/7y3q1ssh4tno6zlc50ry_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 02:24:40 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=47199626
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="80AMjrbSkCe3aXZVjmxcKRLM5", oauth_nonce="f5886a1568e335b3a131b202a458f876",
        oauth_signature="tlIEiJVRE98crVRFGwRbT2PsKqU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450319080", oauth_token="47199626-SalEguuv6JMpqB4FwLJcC8zs6OaC51vXrSvTvwbnx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 02:24:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0b60d82814778e8e29e4b6938d2df445
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450319980'
      X-Response-Time:
      - '85'
      X-Transaction:
      - c652bc61a3e0e24a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":6304322,"id_str":"6304322","name":"Blithe Rocher","screen_name":"Blithe","location":"Oakland,
        CA","description":"PhD.\nMaster of spatial relationships.\nNot your average
        developer.","url":"http:\/\/t.co\/QlZMsJOPR8","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/QlZMsJOPR8","expanded_url":"http:\/\/blitherocher.com","display_url":"blitherocher.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1915,"friends_count":381,"listed_count":105,"created_at":"Fri
        May 25 05:56:51 +0000 2007","favourites_count":8482,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":15934,"lang":"en","status":{"created_at":"Thu
        Dec 17 02:17:59 +0000 2015","id":677311748165124096,"id_str":"677311748165124096","text":"@zeigenvector
        I hope that y''all do end up publishing it.","source":"\u003ca href=\"http:\/\/tapbots.com\/tweetbot\"
        rel=\"nofollow\"\u003eTweetbot for i\u039fS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":677274848389894145,"in_reply_to_status_id_str":"677274848389894145","in_reply_to_user_id":29613873,"in_reply_to_user_id_str":"29613873","in_reply_to_screen_name":"zeigenvector","geo":null,"coordinates":null,"place":{"id":"ab2f2fac83aa388d","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/ab2f2fac83aa388d.json","place_type":"city","name":"Oakland","full_name":"Oakland,
        CA","country_code":"US","country":"United States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-122.34266,37.699279],[-122.114711,37.699279],[-122.114711,37.8847092],[-122.34266,37.8847092]]]},"attributes":{}},"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"zeigenvector","name":"net
        cat","id":29613873,"id_str":"29613873","indices":[0,13]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/458955053814906880\/1dIp3MNa_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/458955053814906880\/1dIp3MNa_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/6304322\/1350419228","profile_link_color":"131516","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":16472748,"id_str":"16472748","name":"Casey
        Johnston","screen_name":"caseyjohnston","location":"","description":"Matter,
        Vice, Hazlitt, tool blogs. caseyLjohnston@gmail","url":"https:\/\/t.co\/8r9qQZorXk","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/8r9qQZorXk","expanded_url":"http:\/\/caseyjohnston.net\/projects","display_url":"caseyjohnston.net\/projects","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":23170,"friends_count":4[...]
