---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="80AMjrbSkCe3aXZVjmxcKRLM5", oauth_nonce="b86a957798ea03d56507f1d809349c32",
        oauth_signature="A%2FtulObNS1%2BItX5RMY4tJZomiFE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450319078", oauth_token="47199626-SalEguuv6JMpqB4FwLJcC8zs6OaC51vXrSvTvwbnx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 02:24:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 80d1e50db8c76f30e6486e19c11fc88b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450319979'
      X-Response-Time:
      - '56'
      X-Transaction:
      - e6ba856f5c76835a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 02:16:05 +0000 2015","id":677311269880397828,"id_str":"677311269880397828","text":"Yoga
        teachers behaving badly https:\/\/t.co\/sH4Fzw0iEw https:\/\/t.co\/QuBftiWKVx","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":807095,"id_str":"807095","name":"The
        New York Times","screen_name":"nytimes","location":"New York City","description":"Where
        the conversation begins. Follow for breaking news, special reports, RTs of
        our journalists and more from https:\/\/t.co\/YapuoqX0HS.","url":"http:\/\/t.co\/ahvuWqicF9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ahvuWqicF9","expanded_url":"http:\/\/www.nytimes.com\/","display_url":"nytimes.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/YapuoqX0HS","expanded_url":"http:\/\/NYTimes.com","display_url":"NYTimes.com","indices":[111,134]}]}},"protected":false,"followers_count":22302817,"friends_count":987,"listed_count":170740,"created_at":"Fri
        Mar 02 20:41:42 +0000 2007","favourites_count":8851,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":211104,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/807095\/1355346050","profile_link_color":"607696","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":28,"favorite_count":57,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/sH4Fzw0iEw","expanded_url":"http:\/\/nyti.ms\/1RpFy7Y","display_url":"nyti.ms\/1RpFy7Y","indices":[29,52]}],"media":[{"id":677311268668071936,"id_str":"677311268668071936","indices":[53,76],"media_url":"http:\/\/pbs.twimg.com\/media\/CWZLAqNUYAAzuab.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWZLAqNUYAAzuab.png","url":"https:\/\/t.co\/QuBftiWKVx","display_url":"pic.twitter.com\/QuBftiWKVx","expanded_url":"http:\/\/twitter.com\/nytimes\/status\/677311269880397828\/photo\/1","type":"photo","sizes":{"large":{"w":999,"h":560,"resize":"fit"},"medium":{"w":600,"h":336,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":190,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":677311268668071936,"id_str":"677311268668071936","indices":[53,76],"media_url":"http:\/\/pbs.twimg.com\/media\/CWZLAqNUYAAzuab.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWZLAqNUYAAzuab.png","url":"https:\/\/t.co\/QuBftiWKVx","display_url":"pic.twitter.com\/QuBftiWKVx","expanded_url":"http:\/\/twitter.com\/nytimes\/status\/677311269880397828\/photo\/1","type":"photo","sizes":{"large":{"w":999,"h":560,"resize":"fit"},"medium":{"w":600,"h":336,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":190,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Dec 17 02:10:51 +0000 2015","id":677309955855294466,"id_str":"677309955855294466","text":"RT
        @MelBrooks: This very tall man deserves a nomination for his Oscar-worthy
        performance in the terrific film @EndOfTourMovie https:\/\/t.co\/\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to[...]
