<div class="row">
  <div class="col s3">
    <%= render partial: 'partials/userside', locals: { twitter: @twitter, tweet: @tweet } %>
  </div>

  <div class="col s9">
    <div class="row">
      <div class="" id="dashboard">
        <div style="margin-left:24px; margin-right:24px">
          <h2 class="fancy-font-caption center"> Your Tweets </h2>
          <p>
            <% @twitter.user_timeline.each do |tweet| %>
            <div class="card" style="border:ridge">
              <div class="row" style="margin-left:24px; margin-top:6px">
                <div class="col s1" style="">
                  <img src="<%= tweet.user.profile_image_url %>"><br>
                </div>
                <div class="col s2" style="margin-top:12px">
                  <b><%= tweet.user.screen_name %><br></b>
                </div>
                <div class="col s9" style="margin-top:10px">
                  <%= tweet.text %><br>
                </div>
              </div>
            </div>
            <% end %>
          </p>
        </div>

      </div>
    </div>

  </div>
</div>
